asgiref
asttokens
certifi
charset-normalizer
colorama
comm
debugpy
decorator
Django
django-cors-headers
djangorestframework
djangorestframework_simplejwt
executing
idna
ipykernel
ipython
ipython_pygments_lexers
jedi
jupyter_client
jupyter_core
matplotlib-inline
nest-asyncio
packaging
parso
platformdirs
prompt_toolkit
psutil
psycopg2-binary
pure_eval
Pygments
PyJWT
python-dateutil
pywin32
pyzmq
requests
six
sqlparse
stack-data
timedelta
tornado
traitlets
tzdata
urllib3
wcwidth
